<!-
bodyの中だけで良い
しかもスタイルシート(scss)を読み込むって文もいらない(helloコントローラのスタイルシートは /assets/stylesheets/hello.scss という風に決まっているため) 
ちなみに, erbはEmbedded Rubyの略で, HTMLタグの中にRubyのコードを埋め込んで実行できるやつ

↓ class="display-1"の部分でBootstrapを使っている
"form-control", 
-!>

<h1 class="display-4"> <%= @title%></h1>
<p> <%= @msg %></p>

<form method="POST" action="/hello/index8">
    <input type="text" class="form-control" name="input1" value="<%= @value %>">

    <input type="submit" class="btn btn-primary" >

</form>


