<!-
bodyの中だけで良い
しかもスタイルシート(scss)を読み込むって文もいらない(helloコントローラのスタイルシートは /assets/stylesheets/hello.scss という風に決まっているため) 
ちなみに, erbはEmbedded Rubyの略で, HTMLタグの中にRubyのコードを埋め込んで実行できるやつ

↓ class="display-1"の部分でBootstrapを使っている
-!>

<h1 class="display-1"> Sample Page</h1>
<h1 class="display-2"> Sample Page</h1>
<h1 class="display-3"> Sample Page</h1>
<h1 class="display-4"> Sample Page</h1>
<p> This is Rails sample page! </p>
